<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>** Put your tenant’s domain here. **</string>
	<key>ClientId</key>
	<string>** Put your app’s client ID here. **</string>
	<key>Hint</key>
	<string>** Log into the Auth0 dashboard to get your “Domain” and “ClientId” values **</string>
</dict>
</plist>
